<div class="header">
    <div class="menu-centro">
        <div class="barra-conteiner centralizador">
            <div class="logo esquerda">
                <a href="index.html">
                    <p>github logo</p>
                    <p>gmail logo</p>
                    <p>linkdin logo</p>
                </a>
            </div>
            <nav class="direita">
                <ul>
                  <li><a href="#inicio">Início</a></li>
                  <li><a href="#sobre-mim">Sobre mim</a></li>
                  <li><a href="#projetos">Projetos</a></li>
                  <li><a href="#habilidades">Habilidades</a></li>
                </ul>
            </nav>

        </div>

    </div>

</div>